.content-div {
	background-size: cover;
	background-position: center;
	height: 250px;
}
.content-div:hover {
	background-image: linear-gradient(
		to right,
		rgba(63, 98, 182, 0.8),
		hsla(240, 84%, 20%, 0.8)
	) !important;
}
body {
	background-image: url('./assets/blob-electricBlue2.png');
	background-size: cover;
}

.navbar-mobileBg {
	background-image: url('./assets/blob-electricBlue2.png');
	background-size: cover;
}
